# Environments
.env

# Cursor
.cursorignore
.cursorindexingignore
.DS_Store
/data/Electronics.jsonl
/data/meta_Electronics.jsonl
__pycache__
/data/chroma_db
/data
/src/rag/__pycache__
*.log
test_ragas_report.html
